<ul class="ui nav tabs tabular nav-tabs" role="tablist">

    <li role="presentation" class="active item tab">
        <a href="#" data-toggle="tab" aria-controls="step1" role="tab"
           title="Disclaimer" data-position="bottom center">
                            <span class="round-tab">
                                <i class="icon info"></i>
                            </span>
        </a>
    </li>

    <li role="presentation" class="item tab">
        <a href="#" class="disabled" data-toggle="tab"
           aria-controls="step2"
           role="tab" title="Basic information"
           data-position="bottom center">
                            <span class="round-tab">
                                <i class="icon photo"></i>
                            </span>
        </a>
    </li>
    <li role="presentation" class="item tab">
        <a href="#" class="disabled" data-toggle="tab"
           aria-controls="step3"
           role="tab" title="Photos" data-position="bottom center">
                            <span class="round-tab">
                                <i class="icon pencil"></i>
                            </span>
        </a>
    </li>

    <li role="presentation" class="item tab">
        <a href="#" class="disabled" data-toggle="tab"
           aria-controls="complete" role="tab" title="Confirm creation"
           data-position="bottom center">
                            <span class="round-tab">
                                <i class="icon check"></i>
                            </span>
        </a>
    </li>
</ul>