<div class="segment ui teal" id="step3">
    <h3 class="ui center header aligned">General information</h3>
    <p>General disclaimer</p>
    <button class="wiznext ui teal button fluid">Proceed</button>
</div>