{% extends 'layout/master.twig' %}

{% block content %}

    <h1>Log in or sign up here</h1>

    <div class="ui tabular menu">
        <a class="item active" data-tab="tab-login">Log in</a>
        <a class="item" data-tab="tab-signup">Sign up</a>
    </div>
    <div class="ui tab active" data-tab="tab-login">
        <form class="ui large form" method="post" action="auth/login">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email"
                               placeholder="E-mail address"
                               style="cursor: auto;">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password"
                               placeholder="Password" autocomplete="off"
                               style="cursor: auto;">
                    </div>
                </div>
                <p class="text-center"><a
                            href="/auth/forgotpass">Forgot your password?</a>
                </p>
                <button class="ui button fluid large teal submit"
                        type="submit">Log in
                </button>
            </div>
        </form>

    </div>
    <div class="ui tab" data-tab="tab-signup">
        <form class="ui large form" method="post" action="/auth/signup">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email"
                               placeholder="E-mail address"
                               style="cursor: auto;">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password"
                               placeholder="Password" autocomplete="off"
                               style="cursor: auto;">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password_confirm"
                               placeholder="Password" autocomplete="off"
                               style="cursor: auto;">
                    </div>
                </div>
                <button class="ui button fluid large teal submit"
                        type="submit">Sign up
                </button>
            </div>
        </form>

    </div>

{% endblock %}