{% extends 'layout/master.twig' %}

{% block content %}

    {% if (username) %}

        {% include 'partials/dropzonetpl.twig' %}

        {% if post is iterable %}

            <h3>You have some drafts!</h3>
            <p>Would you like to continue working on them, or create a new post?</p>

            <div class="ui link cards">
            {% for p in post %}

                {% include 'post/post_render.twig' %}

            {% endfor %}
            </div>

        {% else %}

            {% include 'post/wizard/menu.twig' %}

            <div class="container wizard">
                <div class="row">
                    <form action="/post/submit" method="post">

                        {% include 'post/wizard/step1.twig' %}
                        {% include 'post/wizard/step2.twig' %}
                        {% include 'post/wizard/step3.twig' %}

                        <div class="segment ui teal" id="complete">
                            <h3 class="ui center header aligned">Preview and confirm!</h3>
                            <p>Here's a preview of your ad!</p>
                            <input type="hidden" name="id"
                                   value="{{ post.id }}">
                            <button type="submit"
                                    class="ui button teal fluid">Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        {% endif %}

    {% else %}

        <div class="ui segment">
            <p>You'll need to <a
                        href="/auth">log in or sign up</a> to post an ad.</p>
        </div>

    {% endif %}

{% endblock %}