{% if menus.active == '/' %}
    <div class="ui text container">
        <h1 class="ui inverted header">
            Adoptify.me
        </h1>
        <h2 class="ui inverted">Give a home, find a friend</h2>
        <div class="ui large buttons">
            <button class="ui button big teal">Learn more</button>
            <div class="or"></div>
            <button class="ui button big green">Find a pet</button>
        </div>
    </div>

{% endif %}