<div class="dzcard">
    <div class="ui card">
        <div class="image">
            <img data-dz-thumbnail/>
        </div>
        <div class="content">
            <p class="ui header wrap" data-dz-name></p>
            <div class="meta">
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div class="diffbot-info">

            </div>
        </div>
        <div class="extra content">
            <button data-dz-remove class="cancel ui button">
                <i class="icon cancel"></i><span>Remove</span>
            </button>
        </div>
    </div>
</div>